In [1]:
import os 
import csv
import pandas as pd

In [2]:
schoolspath = os.path.join("schools_complete.csv")

In [3]:
studentspath = os.path.join("students_complete.csv")

In [4]:
school = pd.read_csv("schools_complete.csv")
students = pd.read_csv("students_complete.csv")
merge = pd.merge(school,students, on = "school_name")
work = pd.merge(school,students, on = "school_name")

In [5]:
school_count = merge["school_name"].unique() #total numbers of unique schools

In [6]:
#Making the District Summary DataFrame

In [7]:
school_count #total number of unique schools

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [8]:
school_count = len(school_count) #counting the schools

In [9]:
school_count

15

In [10]:
district_summary = {"Total Schools" : [school_count]} #trying to start the DataFrame

In [11]:
district_summary

{'Total Schools': [15]}

In [12]:
district_summary = pd.DataFrame(district_summary) #starting the DataFrame

In [13]:
student_list = []
for row in students.iterrows():
    student_list.append((row[0])) #creating a list of students to count

In [14]:
studentcount = len(student_list) #finding the lenth of that list to find the number

In [15]:
studentcount #number of students

39170

In [16]:
budget = [] #creating a budget list 
for index, row in school.iterrows():
    budget.append(row[4])

/var/folders/d2/rs9l0yts25jd2cswktf_sr9c0000gn/T/ipykernel_85819/1430822200.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  budget.append(row[4])

In [17]:
budget #budget list that I will loop through to find a total budget

[1910635,
 1884411,
 1056600,
 3022020,
 917500,
 1319574,
 1081356,
 3124928,
 248087,
 585858,
 1049400,
 2547363,
 3094650,
 1763916,
 1043130]

In [18]:
total_budget = 0   #starting at zero and looking though the budget 
for x in budget:
    total_budget = total_budget + x

In [19]:
total_budget #total companied budet

24649428

In [20]:
math_score = students["math_score"].mean()   #average math score calculation

In [21]:
math_score  #average math score

78.98537145774827

In [22]:
reading_score = students["reading_score"].mean()  #average reading score calcuation

In [23]:
reading_score #average reading score

81.87784018381414

In [24]:
passing = students.loc[(students["math_score"]>= 70)] #conditional for what passing means (above 70)

In [25]:
passing

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
8,8,Michael Roth,M,10th,Huang High School,95,87
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [26]:
#number of students with grade over 70
passing = len(passing.index)

In [27]:
passing

29370

In [28]:
studentcount = float(studentcount) #demonimator to find pass rate

In [29]:
roundrate = round(passing/studentcount,4) #find rate

In [30]:
mathpasspercent = roundrate*100 #make it a percent

In [31]:
mathpasspercent #percentage of kids passing move

74.98

In [32]:
reading_passing = students.loc[(students["reading_score"]>= 70)] #same things as math but for reading

In [33]:
reading_passing = len(reading_passing) #same as math

In [34]:
studentcount #same as math

39170.0

In [35]:
reading_passing = float(reading_passing) #same as math

In [36]:
reading_passing_percentage = reading_passing/studentcount #same as math

In [37]:
reading_passing_percentage  #same as math

0.8580546336482001

In [38]:
reading_passing_percentage = round(reading_passing_percentage,3) #rounding so it looks better

In [39]:
reading_passing_percentage #rounded percentage

0.858

In [40]:
mask = (students["math_score"]>= 70) & (students["reading_score"] >= 70) #mask to break things up

In [41]:
overallpass = students.loc[mask] #list of students that passed math and reading

In [42]:
overallpass = len(overallpass)#length of list to find number

In [43]:
overallpass #number of how many passed

25528

In [44]:
overallpass = float(overallpass) #change data type to float

In [45]:
passingboth = overallpass/studentcount #divide by total students

In [46]:
passingboth #get percentage

0.6517232575950983

In [47]:
district_summary["Total Students"] = int(studentcount) #finishing of the dataFrame that I created 
district_summary["Total Budget"] = float(total_budget)
district_summary["Average Math Score"] = math_score
district_summary["Average Reading Score"] = reading_score
district_summary["% Passing Math"]= mathpasspercent 
district_summary["% Passing Reading"] = reading_passing_percentage * 100
district_summary["% Overall Passing"] = passingboth * 100

In [48]:
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428.0,78.985371,81.87784,74.98,85.8,65.172326

In [49]:
#creating the School Summary DataFrame

In [50]:
schoollist = merge["school_name"].unique() #creating list of schools to adding to dataFrame

In [51]:
schoollist = schoollist.tolist() #creating list of schools to adding to dataFrame

In [52]:
per_school_summary = pd.DataFrame(schoollist) #create data frame

In [53]:
per_school_summary = per_school_summary.rename(columns = {0: "School Name"}) #changing the header name

In [54]:
schooltype = school["type"].tolist() #creating a list of types so I can add types to the DataFrame

In [55]:
totalstudents = school["size"].tolist()
per_school_summary["Total Students"] = totalstudents #adding the total students

In [56]:
schooltype
per_school_summary["School Type"] = schooltype #adding types to the dataframe

In [57]:
schoolsize = []   #getting a list of school sizes 
for index, row in school.iterrows():
    schoolsize.append(row[3])

/var/folders/d2/rs9l0yts25jd2cswktf_sr9c0000gn/T/ipykernel_85819/2004447689.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  schoolsize.append(row[3])

In [58]:
per_school_summary["School Size"] = schoolsize

In [59]:
per_school_summary = per_school_summary.sort_values("School Name") #sorting the chart

In [60]:
per_school_summary = per_school_summary.reset_index(drop= True)

In [61]:
per_school_summary

              School Name  Total Students School Type  School Size
0      Bailey High School            4976    District         4976
1     Cabrera High School            1858     Charter         1858
2    Figueroa High School            2949    District         2949
3        Ford High School            2739    District         2739
4     Griffin High School            1468     Charter         1468
5   Hernandez High School            4635    District         4635
6      Holden High School             427     Charter          427
7       Huang High School            2917    District         2917
8     Johnson High School            4761    District         4761
9        Pena High School             962     Charter          962
10  Rodriguez High School            3999    District         3999
11    Shelton High School            1761     Charter         1761
12     Thomas High School            1635     Charter         1635
13     Wilson High School            2283     Charter         2283
14     Wright High School            1800     Charter         1800

In [62]:
school = school.sort_values("school_name") #getting school aligned with my new DataFrame

In [63]:
budget = [] #creating a budget list 
for index, row in school.iterrows():
    budget.append(row[4])

/var/folders/d2/rs9l0yts25jd2cswktf_sr9c0000gn/T/ipykernel_85819/2621274897.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  budget.append(row[4])

In [64]:
per_school_summary ["Total School Budget"] = budget  #adding budget

In [65]:
per_school_summary ["Total School Budget"] = per_school_summary ["Total School Budget"].astype(float) #making sure it is a float

In [66]:
del per_school_summary ["School Size"]

In [67]:
budgetperstudent = per_school_summary["Total School Budget"]/per_school_summary['Total Students'] #formula for budget per student

In [68]:
per_school_summary["Budget Per Student"] = budgetperstudent #adding it to DataFrame

In [69]:
per_school_summary["Budget Per Student"] = per_school_summary["Budget Per Student"].astype(float)

In [70]:
per_school_summary.dtypes

School Name             object
Total Students           int64
School Type             object
Total School Budget    float64
Budget Per Student     float64
dtype: object

In [71]:
per_school_summary.dtypes

School Name             object
Total Students           int64
School Type             object
Total School Budget    float64
Budget Per Student     float64
dtype: object

In [72]:
averagemath = work.groupby("school_name")["math_score"].mean()

In [73]:
averagemath = list(averagemath)

In [74]:
per_school_summary["Average Math Score"] = averagemath #adding to Data frame

In [75]:
averagereading = work.groupby("school_name")["reading_score"].mean() #finding average reading scoer

In [76]:
averagereading = list(averagereading) #converting to list to add to DataFrame

In [77]:
per_school_summary["Average Reading Score"] = averagereading  #adding to DataFrame

In [78]:
per_school_summary

,School Name,Total Students,School Type,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score
0,Bailey High School,4976,District,3124928.0,628.0,77.048432,81.033963
1,Cabrera High School,1858,Charter,1081356.0,582.0,83.061895,83.975780
2,Figueroa High School,2949,District,1884411.0,639.0,76.711767,81.158020
3,Ford High School,2739,District,1763916.0,644.0,77.102592,80.746258
4,Griffin High School,1468,Charter,917500.0,625.0,83.351499,83.816757
5,Hernandez High School,4635,District,3022020.0,652.0,77.289752,80.934412
6,Holden High School,427,Charter,248087.0,581.0,83.803279,83.814988
7,Huang High School,2917,District,1910635.0,655.0,76.629414,81.182722
8,Johnson High School,4761,District,3094650.0,650.0,77.072464,80.966394
9,Pena High School,962,Charter,585858.0,609.0,83.839917,84.044699
10,Rodriguez High School,3999,District,2547363.0,637.0,76.842711,80.744686
11,Shelton High School,1761,Charter,1056600.0,600.0,83.359455,83.725724
12,Thomas High School,1635,Charter,1043130.0,638.0,83.418349,83.848930
13,Wilson High School,2283,Charter,1319574.0,578.0,83.274201,83.989488
14,Wright High School,1800,Charter,1049400.0,583.0,83.682222,83.955000

In [79]:
per_school_summary = per_school_summary.set_index("School Name", drop = True)

In [80]:
per_school_summary

,Total Students,School Type,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score
School Name,,,,,,
Bailey High School,4976,District,3124928.0,628.0,77.048432,81.033963
Cabrera High School,1858,Charter,1081356.0,582.0,83.061895,83.975780
Figueroa High School,2949,District,1884411.0,639.0,76.711767,81.158020
Ford High School,2739,District,1763916.0,644.0,77.102592,80.746258
Griffin High School,1468,Charter,917500.0,625.0,83.351499,83.816757
Hernandez High School,4635,District,3022020.0,652.0,77.289752,80.934412
Holden High School,427,Charter,248087.0,581.0,83.803279,83.814988
Huang High School,2917,District,1910635.0,655.0,76.629414,81.182722
Johnson High School,4761,District,3094650.0,650.0,77.072464,80.966394
Pena High School,962,Charter,585858.0,609.0,83.839917,84.044699
Rodriguez High School,3999,District,2547363.0,637.0,76.842711,80.744686
Shelton High School,1761,Charter,1056600.0,600.0,83.359455,83.725724
Thomas High School,1635,Charter,1043130.0,638.0,83.418349,83.848930
Wilson High School,2283,Charter,1319574.0,578.0,83.274201,83.989488
Wright High School,1800,Charter,1049400.0,583.0,83.682222,83.955000

In [81]:
mathpass = work.groupby('school_name')['math_score'].apply(lambda x: (x>=70).sum())  #find who passed math by adding conditinal

In [82]:
mathpass = list(mathpass) #converting to list to add DataFrame

In [83]:
mathpasspercentage = mathpass/per_school_summary["Total Students"]  #finding the percentage

In [84]:
per_school_summary["% Passing Math"] = mathpasspercentage *100

In [85]:
readingpass = work.groupby('school_name')['reading_score'].apply(lambda x: (x>=70).sum()) #finding pass reading

In [86]:
readingpass = list(readingpass)

In [87]:
readingpasspercentage = readingpass/per_school_summary["Total Students"] #finding percentate

In [88]:
per_school_summary["% Passing Reading"] = readingpasspercentage *100

In [89]:
per_school_summary["% Overall Passing"] = (per_school_summary["% Passing Math"]/100) * (per_school_summary["% Passing Reading"]/100) #method 1

In [90]:
work1 = work.loc[(work['reading_score'] >= 70) & (work['math_score'] >= 70)] #method2

In [91]:
total_passboth = work1.groupby('school_name')["School ID"].count() #method 2

In [92]:
total_schools = work.groupby('school_name')["School ID"].count() #method 2

In [93]:
overallpassing = (total_passboth/total_schools)*100 #method 2

In [94]:
overallpassing = list(overallpassing) #method 2

In [95]:
per_school_summary['% Overall Passing2']= overallpassing  #method 2

In [96]:
per_school_summary

,Total Students,School Type,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,% Overall Passing2
School Name,,,,,,,,,,
Bailey High School,4976,District,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,0.546332,54.642283
Cabrera High School,1858,Charter,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,0.913470,91.334769
Figueroa High School,2949,District,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,0.532786,53.204476
Ford High School,2739,District,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,0.541688,54.289887
Griffin High School,1468,Charter,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,0.907204,90.599455
Hernandez High School,4635,District,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,0.539785,53.527508
Holden High School,427,Charter,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,0.890396,89.227166
Huang High School,2917,District,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,0.534118,53.513884
Johnson High School,4761,District,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,0.536535,53.539172
Pena High School,962,Charter,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,0.907597,90.540541
Rodriguez High School,3999,District,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,0.532393,52.988247
Shelton High School,1761,Charter,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,0.899760,89.892107
Thomas High School,1635,Charter,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,0.907621,90.948012
Wilson High School,2283,Charter,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,0.906196,90.582567
Wright High School,1800,Charter,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,0.901704,90.333333

In [97]:
per_school_summary["% Overall Passing"] = per_school_summary["% Overall Passing"]*100

In [98]:
top_schools = per_school_summary.sort_values("% Overall Passing", ascending = False) #finindg the top overall passing schools

In [99]:
top_schools.head(5)

,Total Students,School Type,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,% Overall Passing2
School Name,,,,,,,,,,
Cabrera High School,1858,Charter,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.346964,91.334769
Thomas High School,1635,Charter,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.762094,90.948012
Pena High School,962,Charter,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.759679,90.540541
Griffin High School,1468,Charter,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.720382,90.599455
Wilson High School,2283,Charter,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.619558,90.582567

In [100]:
top_schools2 = per_school_summary.sort_values("% Overall Passing2", ascending = False) #using other method

In [101]:
#finding the top and bottom schools

In [102]:
top_schools = top_schools.head(5) #top schools using the first method i tried

In [103]:
top_schools2 = top_schools2.head(5) # top schools using the other method

In [104]:
bottom_schools = per_school_summary.sort_values("% Overall Passing", ascending = True)

In [105]:
bottom_schools2 = per_school_summary.sort_values("% Overall Passing2", ascending = True)

In [106]:
bottom_schools = bottom_schools.head(5) #bottom schools using mult method

In [107]:
bottom_schools2 = bottom_schools2.head(5) #bottom schoools using .loc and .count method

In [108]:
#finding scores by grade

In [109]:
math_scores_by_grade = pd.DataFrame(work.groupby(["school_name", "grade"])["math_score"].mean()) #staring with math

In [110]:
ninth_graders = work[(work["grade"] == "9th")]#creating variable 
tenth_graders = work[(work["grade"] == "10th")]
eleventh_graders = work[(work["grade"] == "11th")]
twelfth_graders = work[(work["grade"] == "12th")]

In [111]:
ninth_graders_scores = ninth_graders.groupby("school_name")["math_score"].mean() #allocating 9th Grade scores

In [112]:
math_scores_by_grade = pd.DataFrame(ninth_graders_scores) #creating DataFrame

In [113]:
tenth_graders_scores = tenth_graders.groupby("school_name")["math_score"].mean() #fiding the value

In [114]:
math_scores_by_grade["10th"] = tenth_graders_scores #adding 10th grade

In [115]:
eleventh_graders_scores = eleventh_graders.groupby("school_name")["math_score"].mean() #finding value for 11th

In [116]:
math_scores_by_grade["11th"] = eleventh_graders_scores #adding to the DataFrame

In [117]:
twelfth_graders_scores = twelfth_graders.groupby("school_name")["math_score"].mean() #finding value for 12th grade

In [118]:
math_scores_by_grade["12th"] = twelfth_graders_scores #adding to DataFrame

In [119]:
math_scores_by_grade = math_scores_by_grade.rename(columns = {"math_score":"9th"}) #changing column to 9th

In [120]:
ninth_grader_reading_scores = ninth_graders.groupby("school_name")["reading_score"].mean() #same as math 
tenth_graders_scores = tenth_graders.groupby("school_name")["reading_score"].mean()
eleventh_graders_scores = eleventh_graders.groupby("school_name")["reading_score"].mean()
twelfth_graders_scores = twelfth_graders.groupby("school_name")["reading_score"].mean()

In [121]:
reading_scores_by_grade = pd.DataFrame(work.groupby(["school_name", "grade"])["reading_score"].mean()) #same as math

In [122]:
reading_scores_by_grade = pd.DataFrame(ninth_grader_reading_scores)#same as math

In [123]:
reading_scores_by_grade = reading_scores_by_grade.rename(columns = {"reading_score": "9th"})#same as math

In [124]:
reading_scores_by_grade["10th"] = tenth_graders_scores #same as math 
reading_scores_by_grade["11th"] = eleventh_graders_scores
reading_scores_by_grade["12th"] = twelfth_graders_scores

In [125]:
#Spending Bins

In [126]:
import pandas as pd     #creating column
spending_bins = [0, 585, 630, 645, 680]
labels2 = ["<$585", "$585-630", "$630-645", "$645-680"]
per_school_summary["Spending Ranges (Per Student)"] = pd.cut(per_school_summary["Budget Per Student"], spending_bins, labels = labels2, include_lowest = True)

In [127]:
spending_math_scores = per_school_summary.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()

/var/folders/d2/rs9l0yts25jd2cswktf_sr9c0000gn/T/ipykernel_85819/2124682077.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_math_scores = per_school_summary.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()

In [128]:
spending_math_scores

Spending Ranges (Per Student)
<$585       83.455399
$585-630    81.899826
$630-645    78.518855
$645-680    76.997210
Name: Average Math Score, dtype: float64

In [129]:
spending_reading_scores = per_school_summary.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()

/var/folders/d2/rs9l0yts25jd2cswktf_sr9c0000gn/T/ipykernel_85819/3181228643.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_reading_scores = per_school_summary.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()

In [130]:
spending_reading_scores

Spending Ranges (Per Student)
<$585       83.933814
$585-630    83.155286
$630-645    81.624473
$645-680    81.027843
Name: Average Reading Score, dtype: float64

In [131]:
spending_passing_math = per_school_summary.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()

/var/folders/d2/rs9l0yts25jd2cswktf_sr9c0000gn/T/ipykernel_85819/258156150.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_math = per_school_summary.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()

In [132]:
spending_passing_math

Spending Ranges (Per Student)
<$585       93.460096
$585-630    87.133538
$630-645    73.484209
$645-680    66.164813
Name: % Passing Math, dtype: float64

In [133]:
spending_passing_reading = per_school_summary.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()

/var/folders/d2/rs9l0yts25jd2cswktf_sr9c0000gn/T/ipykernel_85819/98777375.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_reading = per_school_summary.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()

In [134]:
spending_passing_reading

Spending Ranges (Per Student)
<$585       96.610877
$585-630    92.718205
$630-645    84.391793
$645-680    81.133951
Name: % Passing Reading, dtype: float64

In [135]:
overall_passing_spending = per_school_summary.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

/var/folders/d2/rs9l0yts25jd2cswktf_sr9c0000gn/T/ipykernel_85819/1977080567.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  overall_passing_spending = per_school_summary.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [136]:
overall_passing_spending

Spending Ranges (Per Student)
<$585       90.294121
$585-630    81.522301
$630-645    62.862209
$645-680    53.681272
Name: % Overall Passing, dtype: float64

In [137]:
spending_summary = pd.DataFrame(spending_math_scores)

In [138]:
spending_summary["Average Reading Score"]=  spending_reading_scores

In [139]:
spending_summary["% Passing Math"] = spending_passing_math

In [140]:
spending_summary["% Passing Reading"] = spending_passing_reading

In [141]:
spending_summary["% Overall Passing"] = overall_passing_spending

In [142]:
spending_summary #final spending summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.294121
$585-630,81.899826,83.155286,87.133538,92.718205,81.522301
$630-645,78.518855,81.624473,73.484209,84.391793,62.862209
$645-680,76.997210,81.027843,66.164813,81.133951,53.681272

In [143]:
size_bins = [0, 1000, 2000, 5000]
labels1 = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], size_bins, labels = labels1, include_lowest = True)

In [144]:
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

/var/folders/d2/rs9l0yts25jd2cswktf_sr9c0000gn/T/ipykernel_85819/1935474502.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
/var/folders/d2/rs9l0yts25jd2cswktf_sr9c0000gn/T/ipykernel_85819/1935474502.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
/var/folders/d2/rs9l0yts25jd2cswktf_sr9c0000gn/T/ipykernel_85819/1935474502.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
/var/folders/d2/rs9l0yts25jd2cswktf_sr9c0000gn/T/ipykernel_85819/1935474502.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
/var/folders/d2/rs9l0yts25jd2cswktf_sr9c0000gn/T/ipykernel_85819/1935474502.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [145]:
size_summary = pd.DataFrame(size_math_scores)

In [146]:
size_summary["Average Reading Score"]= size_reading_scores

In [147]:
size_summary["% Passing Math"] = size_passing_math
size_summary["% Passing Reading"] = size_passing_reading
size_summary["% Overall Passing"]= size_overall_passing

In [148]:
size_summary #final size summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.899636
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.595158
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.372910

In [149]:
#find scores by Type of school

In [150]:
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [151]:
type_summary = pd.DataFrame(average_math_score_by_type)

In [152]:
type_summary["Average Reading Score"] = average_reading_score_by_type
type_summary["% Passing Math"] = average_percent_passing_math_by_type
type_summary["% Passing Reading"] = average_percent_passing_reading_by_type
type_summary["% Overall Passing"] = average_percent_overall_passing_by_type

In [153]:
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.424327
District,76.956733,80.966636,66.548453,80.799062,53.766246

In [154]:
import numpy as np

In [155]:
sizebytype = per_school_summary.groupby("School Type")["Total Students"]

In [156]:
sizebytype.mean()

School Type
Charter     1524.250000
District    3853.714286
Name: Total Students, dtype: float64

In [157]:
per_school_summary.dtypes

Total Students                      int64
School Type                        object
Total School Budget               float64
Budget Per Student                float64
Average Math Score                float64
Average Reading Score             float64
% Passing Math                    float64
% Passing Reading                 float64
% Overall Passing                 float64
% Overall Passing2                float64
Spending Ranges (Per Student)    category
School Size                      category
dtype: object

In [158]:
per_school_summary.groupby("School Type")["Budget Per Student"].mean()

School Type
Charter     599.500000
District    643.571429
Name: Budget Per Student, dtype: float64

In [159]:
#final formatting

In [160]:
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format) #formatting to make it look right 
per_school_summary["Budget Per Student"] = per_school_summary["Budget Per Student"].map("${:,.2f}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

In [161]:
#all of the final DataFrames

In [162]:
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",78.985371,81.87784,74.98,85.8,65.172326

In [163]:
per_school_summary

,Total Students,School Type,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,% Overall Passing2,Spending Ranges (Per Student),School Size
School Name,,,,,,,,,,,,
Bailey High School,4976,District,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.633164,54.642283,$585-630,Large (2000-5000)
Cabrera High School,1858,Charter,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.346964,91.334769,<$585,Medium (1000-2000)
Figueroa High School,2949,District,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.278586,53.204476,$630-645,Large (2000-5000)
Ford High School,2739,District,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.168841,54.289887,$630-645,Large (2000-5000)
Griffin High School,1468,Charter,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.720382,90.599455,$585-630,Medium (1000-2000)
Hernandez High School,4635,District,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.978451,53.527508,$645-680,Large (2000-5000)
Holden High School,427,Charter,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.039593,89.227166,<$585,Small (<1000)
Huang High School,2917,District,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.411814,53.513884,$645-680,Large (2000-5000)
Johnson High School,4761,District,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.653550,53.539172,$645-680,Large (2000-5000)
Pena High School,962,Charter,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.759679,90.540541,$585-630,Small (<1000)
Rodriguez High School,3999,District,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,53.239316,52.988247,$630-645,Large (2000-5000)
Shelton High School,1761,Charter,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.975980,89.892107,$585-630,Medium (1000-2000)
Thomas High School,1635,Charter,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.762094,90.948012,$630-645,Medium (1000-2000)
Wilson High School,2283,Charter,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.619558,90.582567,<$585,Large (2000-5000)
Wright High School,1800,Charter,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.170370,90.333333,<$585,Medium (1000-2000)

In [164]:
top_schools

,Total Students,School Type,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,% Overall Passing2
School Name,,,,,,,,,,
Cabrera High School,1858,Charter,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.346964,91.334769
Thomas High School,1635,Charter,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.762094,90.948012
Pena High School,962,Charter,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.759679,90.540541
Griffin High School,1468,Charter,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.720382,90.599455
Wilson High School,2283,Charter,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.619558,90.582567

In [165]:
top_schools2

,Total Students,School Type,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,% Overall Passing2
School Name,,,,,,,,,,
Cabrera High School,1858,Charter,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.346964,91.334769
Thomas High School,1635,Charter,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.762094,90.948012
Griffin High School,1468,Charter,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.720382,90.599455
Wilson High School,2283,Charter,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.619558,90.582567
Pena High School,962,Charter,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.759679,90.540541

In [166]:
bottom_schools

,Total Students,School Type,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,% Overall Passing2
School Name,,,,,,,,,,
Rodriguez High School,3999,District,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,53.239316,52.988247
Figueroa High School,2949,District,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.278586,53.204476
Huang High School,2917,District,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.411814,53.513884
Johnson High School,4761,District,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.653550,53.539172
Hernandez High School,4635,District,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.978451,53.527508

In [167]:
bottom_schools2

,Total Students,School Type,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,% Overall Passing2
School Name,,,,,,,,,,
Rodriguez High School,3999,District,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,53.239316,52.988247
Figueroa High School,2949,District,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.278586,53.204476
Huang High School,2917,District,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.411814,53.513884
Hernandez High School,4635,District,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.978451,53.527508
Johnson High School,4761,District,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.653550,53.539172

In [168]:
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.294121
$585-630,81.899826,83.155286,87.133538,92.718205,81.522301
$630-645,78.518855,81.624473,73.484209,84.391793,62.862209
$645-680,76.997210,81.027843,66.164813,81.133951,53.681272

In [169]:
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.899636
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.595158
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.372910

In [170]:
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.424327
District,76.956733,80.966636,66.548453,80.799062,53.766246

In [171]:
math_scores_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [172]:
reading_scores_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171